<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button Form</title>
</head>
<body>

<h2>Select Your Role:</h2>
<br>
<hr>

<form action="/home" method="get">
    
    <button type="submit" name="action" value="Teachers">Teacher</button><br><br>
    <button type="submit" name="action" value="Student">Student</button><br><br>
    <button type="submit" name="action" value="Parent">Parent</button><br><br>
    <button type="submit" name="action" value="Admin">Admin</button>

</form>

</body>
</html>
